@using MvcKutupphane.Models.Entity;
@model List<TblKitap>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Yazarı: @ViewBag.y1</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach (var x in Model)

    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Ad></td>
            <td>@x.TblKategori.Ad</td>
            <td>@x.YayınEvi</td>
        </tr>
    }

</table>

